name: Run Release Checks

on:
  workflow_dispatch:
    inputs:
      k3s_versions:
        description: |
          'Provide the list of k3s versions (comma separated)
          Ex: v1.34.0-rc1+k3s1,v1.33.4-rc1+k3s1,v1.32.8-rc1+k3s1,v1.31.12-rc1+k3s1'
        required: false
      rke2_versions:
        description: |
          'Provide the list of rke2 versions (comma separated)
          Ex: v1.34.0-rc1+rke2r1,v1.33.4-rc1+rke2r1,v1.32.8-rc1+rke2r1,v1.31.12-rc1+rke2r1'
        required: false
      rke2_lts_versions:
        description: |
          'Provide the list of rke2 lts versions to test prime registry (comma separated)
          Ex: v1.30.14-rc1+rke2r3'
        required: false
      page_size:
        description: 'Page size for API queries'
        required: false
        default: '150'

jobs:
  run-script-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Update and install necessary packages
        run: sudo apt-get update && sudo apt-get install -y jq curl skopeo

      - name: Change permissions and make script executable (if needed)
        working-directory: ./scripts
        run: chmod +x ./release_checks.sh

      - name: Verify K3S versions - run captain shell script
        working-directory: ./scripts
        id: k3s_verify
        if: ${{ github.event.inputs.k3s_versions != '' }}
        run: ./release_checks.sh -v "${{ github.event.inputs.k3s_versions }}"  -d -p "${{ github.event.inputs.page_size }}"
        shell: sh
        continue-on-error: true

      - name: Verify RKE2 versions - run captain shell script
        working-directory: ./scripts
        id: rke2_verify
        if: ${{ github.event.inputs.rke2_versions != '' }}
        run: ./release_checks.sh -v "${{ github.event.inputs.rke2_versions }}"  -d -p "${{ github.event.inputs.page_size }}"
        shell: sh
        continue-on-error: true

      - name: Verify LTS RKE2 versions - run captain shell script
        working-directory: ./scripts
        id: rke2_lts_verify
        if: ${{ github.event.inputs.rke2_lts_versions != '' }}
        run: ./release_checks.sh -l "${{ github.event.inputs.rke2_lts_versions }}"  -d
        shell: sh

      - name: Check for previous failures
        if: steps.k3s_verify.outcome == 'failure' || steps.rke2_verify.outcome == 'failure' || steps.rke2_lts_verify.outcome == 'failure'
        run: |
          echo "One or more steps failed, marking job as failed."
          exit 1
